<div class="container-fluid">
  <div class="card border-light mb-3" style="max-width: 100rem;">
    <div class="card-header">
      <h1 class="display-2"><p>自己プレゼン</p></h1>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-3">
          <ul class="list-unstyled">
            <ul>
              <li>トップ画面</li>
              <li>目次</li>
              <li>自己紹介</li>
              <li>これまでやってきたこと</li>
              <li>現在の私について</li>
              <li>これからのこと</li>
        </div>
        <div class="col-7">
          .col-6<br>Subsequent columns continue along the new line.
        </div>
      </div>
    </div>
  </div>
</div>
